# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.classpath
*.lock
*.version
*.index
*.tree
*.resources
*.prefs
*.xmi
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
*.log
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
*.ini
*.project
*.exe
*.class
*.lst
*.properties
*.jar
*.jpg
*.gen
*.zip
.metadata/.mylyn/.taskListIndex/segments_1
phantomjs/ChangeLog
*.coffee
*.js
*.BSD
*.md
*.txt
*.json
*.json
PinBotROOT/Users/linda1234willia/acc.json
*.bin
*.MF
*.json
PinBotROOT/Users/linda1234willia/acc.json
*.prefs
.settings/org.eclipse.jdt.core.prefs
*.prefs
PinBotROOT/Users/globalamericase/acc.json
PinBotROOT/Users/linda1234willia/acc.json
gradlew
PinBotROOT/Users/linda1234willia/acc.json
PinBotROOT/Users/globalamericase/acc.json
*.png
*.json
/bin/

*.prefs